.cabeca {
    height: 10vh;
}

.corpo {
    height: 100vh;
}

.pe {
    height: 10vh;
}

.foto-capa{
    /*background-color: red;*/
    background-image: url(IMG/plantacao_casa.jpg);
    width: auto;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nome_titulo {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    color: black;
    transform: translate(-50%, -50%);
    background-color: rgba(202, 191, 191, 0.6);
}

.texto {
    height: 40vh;
}