* {
    margin: 0px;
    padding: 0px;
}

.marco{
    padding: 5px;
}

/*nome da bodega*/
h1 {
    font-size: 60px;
    margin-bottom: 0px;
    padding: 0px;

}
 /*Footer*/
h2 {
    font-size: 13px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px;
}

/*Menu*/
#menu {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap; /*Resposnsive Design - fluid/elastico  */
}

.m {
    padding: 3px;
    margin: 5px;
    list-style: none; /*retira os ptos/quadrados de ordem da lista*/
}

/*Foto capa*/
.foto-capa{
    /*background-color: red;*/
    background-image: url(IMG/plantacao_casa.jpg);
    width: auto;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nome_titulo {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    color: black;
    transform: translate(-50%, -50%);
    background-color: rgba(202, 191, 191, 0.6);
}

.texto {
    height: 40vh;
}

/*Index: texto historia*/
.Phistoria {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.Shistoria {
    font-size: 20px;
    text-justify: auto;
}


/*Footer*/
#pe {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 3px;
    background-color: rgba(235, 227, 227, 0.6);
}

.uva_rodape {
    max-width: 14vw;
    max-height: 14vh;
}
