* {
    margin: 5px;
    padding: 5px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.m {
    padding: 3px;
    margin: 5px;
}

#capa {
    max-width: 100%;
    max-height: 10%;
    width: auto;
    height: auto;
}