* {
    margin: 0px;
    padding: 0px;
}

.marco{
    padding: 5px;
    font-family: 'Lora', serif;
}

/*nome da bodega*/
h1 {
    font-size: 60px;
    margin-bottom: 0px;
    padding: 0px;

}
 /*Footer*/
h2 {
    font-size: 13px;
    padding: 0px;
}

/*descrição do vinho*/
h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px;
    list-style: none;
}

/*Menu*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap; /*Resposnsive Design - fluid/elastico  */
    list-style: none;
    
}

.m {
    padding: 3px;
    margin: 5px;
    list-style: none; /*retira os ptos/quadrados de ordem da lista*/
}

.m:hover {
    list-style: none;
}
.nav-pills .nav-link.active {
    color: white;
    background-color: #722f37;
}

a:hover {
    color: #722f37;
}

/*Foto capa*/
.foto-capa{
    /*background-color: red;*/
    background-image: url(IMG/plantacao_casa.jpg);
    width: auto;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nome_titulo {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
    background-color: #a13d496c;
    padding: 5px;
}

.texto {
    height: 40vh;
}

/*Index: texto historia*/
.Phistoria {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.Shistoria {
    font-size: 20px;
    text-justify: auto;
    width: 50vw;
}


/*Footer*/
#pe {
    text-align: center;
    padding: 3px;
    background-color: #722f37;
    font-size: 10px;
    margin-top: 30px;
    color: white;
    font-size: 16px;
}

.uva_rodape {
    max-width: 14vw;
    max-height: 14vh;
}

.uva_corpo {
    max-width: 40vw;
    max-height: 40vh;
}

.foto.histo {
    padding : 10px;
}

.corpo {
    margin-top: 30px;
}

.wine {
    margin-top: 30px;
    margin-bottom: 100px;
}

.vinho {
    width: 300px;
    height: 300px;
    margin-bottom: 190px;
}

.vinhoo {
    width: 315px;
    height: 300px;
    margin-bottom: 190px;
}

.img-thumbnail:hover {
    color: #722f37;
    border: #722f37;
}

.caixa_descrição {
    margin-top: 10px;   
    width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
    background-color: #722f37;
    color: white;
}

#pe a {
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 0px white;
}

.logo {
    width: 30%;
    padding: 8px;
}

li {
    list-style: none;
}

/*drag and drop*/
.origem {
    height: 150px;
    width: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destino {
    height: 150px;
    width: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
  
.enlaces {
    background: #854149;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 0px !important;
}
  
.origem.enlaces.a {
    background: white;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}
  
/**/
.Drag_Drop {
    background-color:#854149;
    color: white;
    margin-top: 30px;
    width: 300px;
    height: 150px;
}


.ddname {
    align-items: center;
}

